body{
    margin: 0 4rem;
    font-family: "Poppins",sans-serif;
    overflow-x: hidden;
}
nav{
    display:flex;
    align-items: center;
    background-color: #fff;
    font-size: clamp(.8rem,3vw,1rem);
}
.nav-container,.nav-container-small{
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}
.nav-container{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}
.nav-container a,.nav-container-small a{
    text-decoration: none;
    color: black;
}
.nav-container-small{
    display: none;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}
header h1{
    text-align: center;
    max-width: 45%;
    font-size: clamp(1.5rem,5vw,2.5rem);
}
header p{
    text-align: center;
    position: relative;
    top: 150px;
    max-width: 55%;
}
header video{
    z-index: -10;
    position: absolute;
    width: 350px;
}
about,about2{
    display: block;
    margin: 10rem 0;
} 
about button{
    border: none;
    width: 150px;
    aspect-ratio: 1.5;
    font-size: large;
    background-color: transparent;
}
about button:hover{
    cursor: pointer;
    background-color: darkgrey;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
about img{
    float: right;
    position: relative;
    top: 0;
}
about h1,about2 h1{
    font-size: clamp(2rem,7vw,3rem);
    max-width: 50%;
}
about p,about2 p{
    max-width: 50%;
}

about2 h1,about2 p{
    max-width: 65%;
}
.info{
    display: flex;
    flex: 1;
    flex-direction: row;
    
}
.content,.content h1,.content p{
    min-width: 38%;
}
.content h1{
    font-size: clamp(1.35rem,3vw,1.75rem);
}
.pfp {
    width: 125px;
    aspect-ratio: 1;
    border:solid 4px black;
    border-radius: 80px ;
    margin-top: 1rem;
  }
  
  .slideshow-container {
    max-width: 1600px;
    position: relative;
    margin: auto;
    min-height: 400px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  
  .team-member:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    /* Ensure it takes up the full height of the container */
  }
  .team-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  
  .team-member p {
    text-align: center;
    
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev,
  .next {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .slideshow-container div:first-child {
    display: flex;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .team-name{
    margin-bottom: 5rem;
    text-align: center;
  }
  .active,
  .dot:hover {
    background-color: black;
  }
@media screen and (max-width: 800px) {
    .nav-container{
        display: none;
    }
    nav{
        justify-content: center;
    }
    about2 h1{
        max-width: 85%;
    }
    about2 span{
        margin-top: 5rem;
    }
    about2,.info{
        display: flex;
        flex-direction: column; 
        margin: auto;
        max-width: 90%;
    }
}
.slide-in-out {
  animation-name: slide;
  animation-duration: 2s;
}
@keyframes slide {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
