body {
    margin: 0 4rem;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    font-size: clamp(.8rem, 3vw, 1rem);
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.nav-container a {
    text-decoration: none;
    cursor: pointer !important;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

header h1 {
    text-align: center;
    max-width: 45%;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
}

header p {
    text-align: center;
    position: relative;
    top: 150px;
    max-width: 55%;
}

header video {
    z-index: -10;
    position: absolute;
    width: 350px;
}

about2 {
    display: block;
    margin: 15rem 0;
}

about {
    margin: 20rem 0;
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 3rem 0 10rem;
}

.mySlides1 {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mySlides1:nth-child(3) .img img{
    width: 90%;
} 
.mySlides1:nth-child(3) .text{
    width: 50%;
} 
.mySlides1 img {
    width: clamp(450px, 12vw, 800px);
}

.dots {
    display: flex;
    justify-content: center;

    position: relative;
    left: calc(-45%);
    align-items: flex-end;
}

about button {
    border: none;
    width: 150px;
    aspect-ratio: 1.5;
    font-size: large;
    background-color: transparent;
}

about button:hover {
    cursor: pointer;
    background-color: darkgrey;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

about img {
    float: right;
    position: relative;
    top: 0;
}

about h1,
about2 h1 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
}

about2 h1,
about2 p {
    max-width: 65%;
}

.info {
    display: flex;
    flex: 1;
    flex-direction: row;

}

.content,
.content h1,
.content p {
    min-width: 38%;
}

.content h1 {
    font-size: clamp(1.35rem, 3vw, 1.75rem);
}

.pfp {
    width: 125px;
    aspect-ratio: 1;
    border: solid 4px black;
    border-radius: 80px;
    margin-top: 1rem;
}

.slideshow-container {
    max-width: 1600px;
    position: relative;
    margin: auto;
    min-height: 400px;
}

/* Hide the images by default */
.mySlides {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.team-member:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    /* Ensure it takes up the full height of the container */
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member p {
    text-align: center;

}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev,
.next {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-container div:first-child {
    display: flex;
}


/* The dots/bullets/indicators */
.dot,
.dot1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.team-name {
    margin-bottom: 5rem;
    text-align: center;
}

.active,
.dot:hover {
    background-color: black;
}
 .pfp1{
    background-image: url('./assets/Peter.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center ;
}
.pfp2{
    background-image: url('./assets/Ana.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}
 .pfp3{
    background-image: url('./assets/Irimescu.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center ;
}
.pfp4{
    background-image: url('./assets/Eric.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}
.pfp5{
    background-image: url('./assets/Alexandra.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center ;
}
.pfp6{
    background-image: url('./assets/Antonia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.pfp8{
    background-image: url('./assets/Ileana\ MAria\ Flavia.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center ;
}
.pfp9{
    background-image: url('./assets/Telinoiu\ Nicolle\ Maria\ \(1\).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -80px center center;
}
.pfp10{
    background-image: url('./assets/Trufasila\ Claudiu.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
.pfp11{
    background-image: url('./assets/Dobre\ Andrei.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}
.pfp12{
    background-image: url('./assets/Iannis.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}
.pfp13{
    background-image: url('./assets/George.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.pfp14{
    background-image: url('./assets/manu\ Catalin.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150%;
}
.pfp16{
    background-image: url("./assets/Chineata\ Razvan.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}
.pfp20{
    background-image: url('./assets/Vanesa.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp21{
    background-image: url('./assets/Ariana.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp22{
    background-image: url('./assets/Dragos.jpeg');
    background-position: center;
    transform: rotate(-90deg);
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp23{
    background-image: url('./assets/Robin.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp24{
    background-image: url('./assets/Ionita\ Octavian\ Stefan.jpg');
    background-position: -20px center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp25{
    background-image: url('./assets/Geanta\ Sebastian.jpeg');
    background-position: -1px center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp26{
    background-image: url('./assets/Tudor\ Matei.jpeg');
    background-position: 1px center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.pfp27{
    background-image: url('./assets/Burciu\ Ionut.jpeg');
    background-position: 1px center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.pfp28{
    background-image: url('./assets/Bancescu\ Andra.jpeg');
    background-position: 1px center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.pfp29{
    background-image: url('./assets/Andreea.jpeg');
    background-position: 1px center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.pfp30{
    background-image: url('./assets/Ela.jpeg');
    background-position: 1px center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp31{
    background-image: url('./assets/Safta\ Catalin.jpg');
    background-position: -25px center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp32{
    background-image: url('./assets/Alexandru.jpeg.jpg');
    background-position: -30px center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp100{
    background-image: url('./assets/dada.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1100px) {

    .mySlides1{
        flex-direction: column;
    }

    .mySlides1 img {
        width: clamp(450px, 7vw, 50px);
        margin-bottom: 2rem;
    }

    about2,
    .info {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 90%;
    }

    members {
        scale: .5;
    }
}

@media screen and (max-width: 800px) {
    .nav-container {
        display: none;
    }

    nav {
        justify-content: center;
    }

    about2 h1 {
        max-width: 85%;
    }

    about2 span {
        margin-top: 5rem;
    }

}

.sponsors-container {
    border-top: 1px solid black;
    margin-top: 5rem;
    display: flex;
    background-color: #fff;
    align-items: center;
}

.sponsors-container .img:first-child img {
    width: 35%;
}

.sponsors-container .img:last-child img {
    width: 35%;
}

.sponsors-container .img {
    display: flex;
    width: 25%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.slide-in {
    animation-name: slideIn;
    animation-duration: 2s;
}

.slide-out {
    animation-name: slideOut;
    animation-duration: 2s;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}