.item:first-child .pfp{
    background-image: url("../assets/ard_uno.png");
}

.item:nth-child(3) .pfp{
    background-image: url("../assets/oled.jpg");
    background-size: 100%;
}
.item:nth-child(4) .pfp{
    background-image: url("../assets/dust_sens.jpg");
    background-size: 120%;
}
images .img{
    scale: 1.55;
}